<ion-content class="ion-justify-content-center" [fullscreen]="true">
  <ion-grid class="grid-login">
    <ion-row class="ion-justify-content-center"  style="margin-top: 15vh;">
      <img src="../../assets/img/icon1024.png" width="150" />
    </ion-row>
    <ion-row class="ion-justify-content-center ion-padding-vertical" style="margin-top: 5vh;">
      <ion-item>
        <ion-label position="floating"><h1>Username</h1></ion-label>
        <ion-input [(ngModel)]="username"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-padding-vertical">
      <ion-item>
        <ion-label position="floating"><h1>Password</h1></ion-label>
        <ion-input [(ngModel)]="password" type="password"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-padding-vertical">
      <ion-button expand="block" size="large" color="success" (click)="login()">Login</ion-button>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-label style="color: white;">New user? Please register</ion-label>
    </ion-row>
    <ion-row class="ion-justify-content-center" style="margin-top: 2vh;">
      <ion-button [routerLink]="['/signup']" expand="block" size="large" color="warning">Sign Up</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
