<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tasks">
      <ion-icon name="albums-outline"></ion-icon>
      <ion-label style="font-size: large;">Tasks</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="patients">
      <ion-icon name="people-circle-outline"></ion-icon>
      <ion-label style="font-size: large;">Patients</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      <ion-label style="font-size: large;">Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
