 <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Task list
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-refresher slot="fixed" (ionRefresh)="loadPatientsList($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="lines"
      refreshingText="Reloading kitchens">
    </ion-refresher-content>
  </ion-refresher> -->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Task list</ion-title>
    </ion-toolbar>
    <ion-button style="font-size: 1rem; margin: 0.5rem" size="large" expand="block" color="success" (click)="addTask()">
      Add New Task
    </ion-button>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let task of (tasks | async)">
      <ion-label text-wrap>
        <h1><b>{{ task.taskName }} </b></h1>
        <h3>Time: {{ task.time }} </h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
