<ion-content class="ion-justify-content-center" [fullscreen]="true">
  <ion-grid>
    <ion-row class="ion-justify-content-center"  style="margin-top: 20vh;">
      <ion-icon name="pizza-outline" size="large"></ion-icon>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-padding-vertical" style="margin-top: 15vh;">
      <ion-item>
        <ion-label position="floating">Username</ion-label>
        <ion-input [(ngModel)]="username" required></ion-input>
      </ion-item>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-padding-vertical">
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input [(ngModel)]="password" type="password"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-padding-vertical">
      <ion-item>
        I am a&nbsp;
        <ion-select interface="popover" placeholder="<...>" style="width: 8rem;" (ionChange)="userTypeChanged($event)">
          <ion-select-option value="nurse">nurse</ion-select-option>
          <ion-select-option value="doctor">doctor</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-padding-vertical">
      <ion-button expand="block" size="large" color="medium" (click)="signup()">Sign up</ion-button>
    </ion-row>
    <ion-row class="ion-justify-content-center" style="margin-top: 8vh;">
      <ion-button expand="block" size="large" color="medium" (click)="goBack()">Login</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
